html, body { 
  font-family: 'Merriweather', serif !important;
}

.pnlm-title-box {
  font-family: 'Merriweather', serif !important;
}

#viewDiv {
  position:fixed;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#logo {
vertical-align:middle;
}

/*Main Navbar Title and Logo*/
.navbar-brand {
  /* padding: 0 15px;
  height: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 1em;     */
}

/*Navbar height. If used, disables the collapse links*/
/* .navbar {
  height: 52px;  
} */

.navbar-brand span {
font-size: 1em;
display:inline-block;
vertical-align:middle;
}

/*Navbar background color*/
.bg-light {
  background: #D49b72 !important;
  border-bottom: solid 2px #D49B72;
} 

/*Navbar link color*/
.navbar-light .navbar-brand {
  color: #50433d;
  /* font-variant: small-caps; */
}

/*Navbar link color*/
.navbar-light .navbar-brand:visited {
color: #50433d;
}

.navbar .navbar-nav .nav-link {
  color: #50433d;
  font-size: 13px;
}
.navbar .navbar-nav .nav-link:hover{
  color: #50433d;
  border-bottom: solid 3px #A23617; 
}

/* Set the border color to the desired color */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2880, 67, 61, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");  
}

.navbar-light .navbar-toggler{
  border-color: #50433d;
}


#close {
  background-color: #A23617;
  border-color: #A23617;
}

#viewerModal {
  border-radius: 0px;
  z-index: 999999999999999999999999999999999999999999999999999999999;
}

/*Infobox*/
.infolink {
  color: #A23617;
}

#infoModal img {
  border: solid 1px black;
}

/*Information Modal*/ 
#infoModal .modal-dialog{
  overflow-y: initial !important
}

#infoModal .modal-body{
  height: 80vh;
  overflow-y: auto;
}

#infoModal .modal-title{
  font-weight: normal !important;
  font-family: 'Merriweather', serif;
  font-size: 1.5em
}

#infoModal {
  border-radius: 0px;
  z-index: 999999999999999999999999999999999999999999999999999999999;
}

#infoModal p {
  font-size: 0.85em;
  font-family: 'Merriweather', serif;
}

#infoModal ul {
  font-size: 0.85em;
  font-family: 'Merriweather', serif;
}

.esri-popup__header-title {
  text-align: left;
}

.esri-widget {
  color: #50433d;
  display: flex;
  font-family: 'Merriweather', serif;
  }

  /* Esri Popup controls  */
#viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container {
    width: 296px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) {
  #viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container {
    width: 100%;
    padding-bottom: 30px;       
  }
}